<div class="main-wrapper">
  <div class="form-wrapper">

    <h2 class="login-header">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <p>
        <%= f.email_field :email, placeholder: :email,
                          autofocus: true, autocomplete: "email", :class => "form-control" %>
      <p>


      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <h6 class="login-header">Leave new password and new password confirmation blank,if you dont want to change password</h6>
      <p>
        <%= f.password_field :password,
                             placeholder: "New password",
                             autocomplete: "new-password",:class => "form-control"  %>

      <p>

      <p>
        <%= f.password_field :password_confirmation,
                             placeholder: "New password confirmation",
                             autocomplete: "new-password" ,:class => "form-control" %>
      <p>

      <h6 class="login-header">Current password (we need your current password to confirm your changes)</h6>
      <p>
        <%= f.password_field :current_password,
                             placeholder: :current_password,
                             autocomplete: "current-password" ,:class => "form-control"  %>
      <p>

        <div class="buttons-wrapper-with-back-btn">
          <div>
            <%= f.submit "Update", :class => "main-btn green-btn confirm-btn" %>
          </div>
          <%= link_to "Back", dashboards_path, :class => "btn main-btn main-back-btn" %>
        </div>
<% end %>


  </div>
</div>