<div class="main-wrapper">
  <div class="form-wrapper">
    <h2 class="login-header">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <p>
        <%= f.email_field :email, placeholder: :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
      <p>

      <p>
        <%= f.password_field :password, placeholder: :password, autocomplete: "current-password", :class => "form-control" %>
      <p>
      <div class="buttons-wrapper-with-back-btn">
        <div>
          <%= f.submit "Sign in", :class => "main-btn green-btn confirm-btn" %>
        </div>
        <%= link_to "Back", root_path, :class => "btn main-btn main-back-btn" %>
      </div>
    <% end %>
  </div>
</div>