<div class="main-wrapper">
  <div class="form-wrapper">
    <h2 class="login-header">Create dashboard</h2>
    <%= form_for :dashboard, url: dashboards_path do |f| %>
      <% if @dashboard.errors.any? %>
        <div style="margin-top: 100px">
        <% @dashboard.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger">
            <%= msg %>
          </div>
        <% end %>
        </div>
      <% end %>
      <p>
        <%=f.text_field :title, placeholder: :title, :class => "form-control" %>
      </p>
      <p>
        <%=f.text_area :body, rows: 20 ,placeholder: :body ,:class => "form-control"%>
      </p>
      <div class="buttons-wrapper-with-back-btn">
        <div>
        <%= f.submit "Save", :class => "main-btn green-btn confirm-btn" %>
        </div>
        <%= link_to "Back", dashboards_path, :class => "btn main-btn main-back-btn" %>
      </div>
    <% end %>
  </div>
</div>