<div class="main-wrapper crud-wrapper">
  <div class="item-wrapper dashboard">
    <div class="header">
      <h2><%= @dashboard.title %></h2>
    </div>
    <div class="panel-content">
      <p class="panel-body"><%= @dashboard.body %></p>
      <hr>
    </div>
    <div class="chart-wrapper">
      <%= pie_chart Dashboard::DUMMY_CHART_DATA,
                    colors: ["rgba(238,174,202,1)", "rgba(148,187,233,1)", "#d0749c"] %>
    </div>
    <div class="dashboard-btns-wrapper buttons-wrapper-with-back-btn">
      <div>
        <%= link_to "Edit", edit_dashboard_path(@dashboard.id), :class => " btn main-btn green-btn confirm-btn" %>
      </div>
      <%= link_to "Back", dashboards_path, :class => "btn main-btn main-back-btn" %>
    </div>

  </div>
</div>

